## Pyspark Handling Missing Values
- Dropping Columns
- Dropping Rows
- Various Parameter in Dropping functionalities
- Handling Missing values by mean, median and mode

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder. appName('Practice').getOrCreate()

In [2]:
df_pyspark = spark.read.csv('wages with na.csv',header = True, inferSchema = True)
df_pyspark.show()

+---------------+----+------+
|YearsExperience| Age|Salary|
+---------------+----+------+
|            1.1|21.0| 39343|
|            1.3|21.5| 46205|
|            1.5|21.7| 37731|
|            2.0|22.0| 43525|
|            2.2|22.2| 39891|
|            2.9|23.0| 56642|
|            3.0|23.0| 60150|
|            3.2|23.3| 54445|
|            3.2|23.3| 64445|
|            3.7|23.6| 57189|
|            3.9|23.9| 63218|
|            4.0|24.0| 55794|
|            4.0|null| 56957|
|            4.1|24.0| 57081|
|            4.5|null| 61111|
|            4.9|25.0| 67938|
|            5.1|26.0| 66029|
|           null|27.0| 83088|
|           null|28.0| 81363|
|            6.0|29.0| 93940|
+---------------+----+------+
only showing top 20 rows

### Handling Null values

In [3]:
# Removing all rows with any null value
df_pyspark.na.drop().show()

+---------------+----+------+
|YearsExperience| Age|Salary|
+---------------+----+------+
|            1.1|21.0| 39343|
|            1.3|21.5| 46205|
|            1.5|21.7| 37731|
|            2.0|22.0| 43525|
|            2.2|22.2| 39891|
|            2.9|23.0| 56642|
|            3.0|23.0| 60150|
|            3.2|23.3| 54445|
|            3.2|23.3| 64445|
|            3.7|23.6| 57189|
|            3.9|23.9| 63218|
|            4.0|24.0| 55794|
|            4.1|24.0| 57081|
|            4.9|25.0| 67938|
|            5.1|26.0| 66029|
|            6.0|29.0| 93940|
|            6.8|30.0| 91738|
|            7.1|30.0| 98273|
|            7.9|31.0|101302|
|            8.2|32.0|113812|
+---------------+----+------+
only showing top 20 rows

In [4]:
# Drops rows where all values are null values
df_pyspark.na.drop(how = "all").show()

+---------------+----+------+
|YearsExperience| Age|Salary|
+---------------+----+------+
|            1.1|21.0| 39343|
|            1.3|21.5| 46205|
|            1.5|21.7| 37731|
|            2.0|22.0| 43525|
|            2.2|22.2| 39891|
|            2.9|23.0| 56642|
|            3.0|23.0| 60150|
|            3.2|23.3| 54445|
|            3.2|23.3| 64445|
|            3.7|23.6| 57189|
|            3.9|23.9| 63218|
|            4.0|24.0| 55794|
|            4.0|null| 56957|
|            4.1|24.0| 57081|
|            4.5|null| 61111|
|            4.9|25.0| 67938|
|            5.1|26.0| 66029|
|           null|27.0| 83088|
|           null|28.0| 81363|
|            6.0|29.0| 93940|
+---------------+----+------+
only showing top 20 rows

In [5]:
# Remove rows where at least two (thresh) non-null values exist
df_pyspark.na.drop(how = "any", thresh = 2).show()

+---------------+----+------+
|YearsExperience| Age|Salary|
+---------------+----+------+
|            1.1|21.0| 39343|
|            1.3|21.5| 46205|
|            1.5|21.7| 37731|
|            2.0|22.0| 43525|
|            2.2|22.2| 39891|
|            2.9|23.0| 56642|
|            3.0|23.0| 60150|
|            3.2|23.3| 54445|
|            3.2|23.3| 64445|
|            3.7|23.6| 57189|
|            3.9|23.9| 63218|
|            4.0|24.0| 55794|
|            4.0|null| 56957|
|            4.1|24.0| 57081|
|            4.5|null| 61111|
|            4.9|25.0| 67938|
|            5.1|26.0| 66029|
|           null|27.0| 83088|
|           null|28.0| 81363|
|            6.0|29.0| 93940|
+---------------+----+------+
only showing top 20 rows

In [6]:
# Subset - Deleting rows value in null in Age column
df_pyspark.na.drop(how = "any", subset = ['Age']).show()

+---------------+----+------+
|YearsExperience| Age|Salary|
+---------------+----+------+
|            1.1|21.0| 39343|
|            1.3|21.5| 46205|
|            1.5|21.7| 37731|
|            2.0|22.0| 43525|
|            2.2|22.2| 39891|
|            2.9|23.0| 56642|
|            3.0|23.0| 60150|
|            3.2|23.3| 54445|
|            3.2|23.3| 64445|
|            3.7|23.6| 57189|
|            3.9|23.9| 63218|
|            4.0|24.0| 55794|
|            4.1|24.0| 57081|
|            4.9|25.0| 67938|
|            5.1|26.0| 66029|
|           null|27.0| 83088|
|           null|28.0| 81363|
|            6.0|29.0| 93940|
|            6.8|30.0| 91738|
|            7.1|30.0| 98273|
+---------------+----+------+
only showing top 20 rows

In [13]:
# Filling missing value
df_pyspark.na.fill(0).show()

+---------------+----+------+
|YearsExperience| Age|Salary|
+---------------+----+------+
|            1.1|21.0| 39343|
|            1.3|21.5| 46205|
|            1.5|21.7| 37731|
|            2.0|22.0| 43525|
|            2.2|22.2| 39891|
|            2.9|23.0| 56642|
|            3.0|23.0| 60150|
|            3.2|23.3| 54445|
|            3.2|23.3| 64445|
|            3.7|23.6| 57189|
|            3.9|23.9| 63218|
|            4.0|24.0| 55794|
|            4.0| 0.0| 56957|
|            4.1|24.0| 57081|
|            4.5| 0.0| 61111|
|            4.9|25.0| 67938|
|            5.1|26.0| 66029|
|            0.0|27.0| 83088|
|            0.0|28.0| 81363|
|            6.0|29.0| 93940|
+---------------+----+------+
only showing top 20 rows

In [14]:
# Filling missing values in Age column
df_pyspark.na.fill(0,'Age').show()

+---------------+----+------+
|YearsExperience| Age|Salary|
+---------------+----+------+
|            1.1|21.0| 39343|
|            1.3|21.5| 46205|
|            1.5|21.7| 37731|
|            2.0|22.0| 43525|
|            2.2|22.2| 39891|
|            2.9|23.0| 56642|
|            3.0|23.0| 60150|
|            3.2|23.3| 54445|
|            3.2|23.3| 64445|
|            3.7|23.6| 57189|
|            3.9|23.9| 63218|
|            4.0|24.0| 55794|
|            4.0| 0.0| 56957|
|            4.1|24.0| 57081|
|            4.5| 0.0| 61111|
|            4.9|25.0| 67938|
|            5.1|26.0| 66029|
|           null|27.0| 83088|
|           null|28.0| 81363|
|            6.0|29.0| 93940|
+---------------+----+------+
only showing top 20 rows

In [16]:
# Filling null with 0 in multiple columns
df_pyspark.na.fill(0,['Age', 'YearsExperience']).show()

+---------------+----+------+
|YearsExperience| Age|Salary|
+---------------+----+------+
|            1.1|21.0| 39343|
|            1.3|21.5| 46205|
|            1.5|21.7| 37731|
|            2.0|22.0| 43525|
|            2.2|22.2| 39891|
|            2.9|23.0| 56642|
|            3.0|23.0| 60150|
|            3.2|23.3| 54445|
|            3.2|23.3| 64445|
|            3.7|23.6| 57189|
|            3.9|23.9| 63218|
|            4.0|24.0| 55794|
|            4.0| 0.0| 56957|
|            4.1|24.0| 57081|
|            4.5| 0.0| 61111|
|            4.9|25.0| 67938|
|            5.1|26.0| 66029|
|            0.0|27.0| 83088|
|            0.0|28.0| 81363|
|            6.0|29.0| 93940|
+---------------+----+------+
only showing top 20 rows

In [19]:
# Replace null value with mean

from pyspark.ml.feature import Imputer
imputer  = Imputer(
inputCols = ['Age','YearsExperience','Salary'],
outputCols = ["{}_imputed".format(c) for c in ['Age','YearsExperience','Salary']]
).setStrategy("median")

In [20]:
# Add the imputation to columns of the df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+---------------+----+------+-----------+-----------------------+--------------+
|YearsExperience| Age|Salary|Age_imputed|YearsExperience_imputed|Salary_imputed|
+---------------+----+------+-----------+-----------------------+--------------+
|            1.1|21.0| 39343|       21.0|                    1.1|         39343|
|            1.3|21.5| 46205|       21.5|                    1.3|         46205|
|            1.5|21.7| 37731|       21.7|                    1.5|         37731|
|            2.0|22.0| 43525|       22.0|                    2.0|         43525|
|            2.2|22.2| 39891|       22.2|                    2.2|         39891|
|            2.9|23.0| 56642|       23.0|                    2.9|         56642|
|            3.0|23.0| 60150|       23.0|                    3.0|         60150|
|            3.2|23.3| 54445|       23.3|                    3.2|         54445|
|            3.2|23.3| 64445|       23.3|                    3.2|         64445|
|            3.7|23.6| 57189|       23.6|                    3.7|         57189|
|            3.9|23.9| 63218|       23.9|                    3.9|         63218|
|            4.0|24.0| 55794|       24.0|                    4.0|         55794|
|            4.0|null| 56957|       25.0|                    4.0|         56957|
|            4.1|24.0| 57081|       24.0|                    4.1|         57081|
|            4.5|null| 61111|       25.0|                    4.5|         61111|
|            4.9|25.0| 67938|       25.0|                    4.9|         67938|
|            5.1|26.0| 66029|       26.0|                    5.1|         66029|
|           null|27.0| 83088|       27.0|                    4.1|         83088|
|           null|28.0| 81363|       28.0|                    4.1|         81363|
|            6.0|29.0| 93940|       29.0|                    6.0|         93940|
+---------------+----+------+-----------+-----------------------+--------------+
only showing top 20 rows